@media screen and (min-width: 32.5em) {
    #content {
        display: block;
    }
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

header,
footer {
    border-radius: 15px;
}

img {
    border-style: solid;
    float: right;
    box-shadow: 0px 8px 8px gray;
}