body {
    background-color: #F3D4CE;
}

main {
    background-color: #f2f7f8;
    display: block;
    font-family: 'Public Sans', sans-serif;
}

#content {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: #e987f1;
    padding: 12px;
    border-radius: 5px;
    font-family: 'Ultra', serif;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    color: #faf8f8;
}

h2 {
    text-align: left;
    border-bottom: 3px double;
    margin: 0;
    padding: 0;
}

ul {
    color: #080000;
    font-size: 20px;
}

footer {
    background-color: #e987f1;
    border-radius: 5px;
    text-align: center;
    color: #faf8f8;
    padding: 5px;
    font-family: 'Public Sans', sans-serif;
}

img {
    border-style: solid;
    border-color: white;
    float: right;
}

.lastModified {
    color: rgb(201, 250, 23);
    font-size: 11px;
    text-align: center;
}

a {
    text-decoration: none;
}

li a:hover {
    background-color: #e987f1;
    box-shadow: 3px 3px 3px #999;
    border-radius: 5%;
}